@{
    string classRol = "";
    string classRegla = "";
    string strController = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    switch (strController)
    {
        case "RolIndex":
        case "RolCreate":
        case "RolDelete":
        case "RolDetails":
        case "RolEdit":                 
            classRol = " class=\"active\" ";
            break;
        case "ReglaIndex":
            classRegla = " class=\"active\" ";
            break;
        default:
            break;
    }

}