<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Reglas
            </th>
            <th>
                <div class="texto-vertical">
                    Activa
                </div>
            </th>
            <th>
                <div class="texto-vertical">
                    Agregar
                </div>
            </th>
            <th>
                <div class="texto-vertical">
                    Editar
                </div>
            </th>
            <th>
                <div class="texto-vertical">
                    Eliminar
                </div>
            </th>
            <th>
                Clave
            </th>
        </tr>
    </thead>