@{
    ViewData["Title"] = "Admin";
}
@section Scripts{
 <script src="~/js/admin/gestionreglas.js?n=3" type="text/javascript"></script>
 }
<h2>Regla</h2>
    <div id="divVentanaMensajes" class="divVentanaMensajesRegla">

        <p id="pMensaje">
        </p>
        <br />
    </div>
     
@{
    string resultado = string.Empty;
    string strListaChecks = ViewBag.ListaTodasReglasPorNivel;
     if (strListaChecks != null)
     {
           resultado += "<input type=\"hidden\" id=\"hiddenListaTodasReglasPorNivel\" value=\"" + System.Net.WebUtility.HtmlEncode(strListaChecks) + "\" />";
     }
     WriteLiteral(resultado);
}
 <div class="container">
    <div class="row">
        <div class="col">
            <label id="lblRegla">Regla:</label>
        </div>
        <div class="col">
            <div id="divComboRegla">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label id="lblNombreRegla">Descripción:</label>
        </div>
        <div class="col">
            <input type="text" id="txtNombreReglaInput" class="anchoControlRegla" maxlength="255" />
        </div>
        <div class="col">
            <label id="lblPalabraClave">Clave:</label>
        </div>
        <div class="col">
            <input type="text" id="txtPalabraClaveInput" class="anchoControlRegla txtPalabraClaveInputRegla"
                maxlength="50" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label id="lblContenida">Contenida en:</label>
        </div>
        <div class="col">
            <div id='divCombo' class="ComboRegla">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label ID="lblAcciones" Font-Size="Small" Font-Underline="True">Acciones:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"> <label id="lblActiva">Activa</label></div>
        <div class="col-md-3"> <label ID="lblAgregar">Agregar</label></div>
        <div class="col-md-3"> <label ID="lblEditar">Editar</label></div>
        <div class="col-md-3"><label id="lblEliminar">Eliminar</label></div>
    </div>
    <div class="row">
        <div class="col-md-3"> <input type="checkbox" id="CheckBoxSoportadasActiva" disabled="disabled"
                checked="checked" />
        </div>
        <div class="col-md-3"> <input type="checkbox" id="CheckBoxSoportadasAgregar" /></div>
        <div class="col-md-3"> <input type="checkbox" id="CheckBoxSoportadasEditar" /></div>
        <div class="col-md-3"> <input type="checkbox" id="CheckBoxSoportadasEliminar" /></div>
    </div>>
    <div class="row">
        <div class="col-md-6"> <button id="btnGuardar" class="btn_abm" onclick="return clikGuardar()">
                Guardar</button></div>
        <div class="col-md-6"> <button id="btnEliminar" class="btn_abm" onclick="return clikEliminar()">
                Eliminar</button></div>
    </div>
</div>